.logo{
    font-size: 1.5em;
    color: #03203C !important;
}
#myMenu ul li a{
    font-size: 1.5em;
}
.custome-card{
    min-height: 600px;
}
.card-layout .custome-card{
    overflow: hidden;
}
.custome-card:hover img{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out
}
.custome-container{
    width: 90%;
    margin: auto;
}
.slider-div{
    width: 70%;
    margin: auto;
}
.slider-img{
    width: 100%;
    height: 600px;
}
.blog-section{
    background-color: #EFEFEF;
    border-bottom: 2px solid #c1c1c1;
    border-top: 2px solid #c1c1c1;
}
.book-information{
    min-height: 500px;
}